body{
    background-color: #ecf0f1;
    font-family: 'Balthazar', serif;
}

#container{
    display: grid;
    grid-gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: 3fr 1fr;
    position: relative;
    grid-template-areas: 
    "h gif"
    "i b"
    "p p"
}

#gif{
    grid-area: gif;
    display: none;
    height: 60%;
    border-radius: 60%;
    position: absolute;
    justify-self: center;
    bottom: 0;
}

#header{
    grid-area: h;
    color: #3498db;
}

#input{
    grid-area: i;
    padding: 10px;
    font-size: 1.5vw;
}

#posts{
    grid-area: p;
}

#post{
    grid-area: b;
    padding: 10px;
    background-color: #3498db;
    border: 1px solid #2980b9;
    box-shadow: 1px 1px 5px #2c3e50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
}
.post-container{
    position: relative;
    box-shadow: 1px 1px 3px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.post{
    position: relative;
    box-shadow: 1px 1px 3px;
    margin: 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: #d7ebf9;
}

#post:active{
    background-color: #2980b9
}

.post-text{
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: larger;
    display: inline-block;
    margin: 5px;
    width: 95%;
}

.comment{
    margin: 10px;
    margin-left: 20px;
    position: relative;
    border: 1px solid lightblue;
    border-radius: 5px;
    /* box-shadow: 1px 1px 7px; */
    background-color: rgb(228, 240, 248);


}

.comment-input{
    margin-left: 20px;
    padding: 3px;
    font-size: 1.5vw;
    border-radius: 5%;
}

.comment-btn{
    /* grid-area: b; */
    padding: 3px;
    margin: 5px;
    background-color: #92bcd8;
    border: 1px solid #a3c2d6;
    box-shadow: 1px 1px 5px #2c3e50;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
}

.delete.material-icons{
    cursor: pointer;
    color: #ecf0f1;
    background-color: #e74c3c;
    display: none;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    position: absolute;
    right: 10px;

}

.comment-text{
    overflow-wrap: break-word;
    display: inline-block;
    padding-left: 12px;
    margin: 3px;
    width: 95%;
}
.delete-comment.material-icons{
    display: none;
    cursor: pointer;
    color: #e74c3c;
    position: absolute;
    top: 2px;
    left: 0ch;
}

.hide-comments{
    position: absolute;
    border: #d7ebf9;
    margin: 18px;
    bottom: 0;
    right: 0;
}

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }